
        body {
            margin-left:15%;
            margin-right:15%;
            background-color: #FFE3FE;
        }
        .container {
            display: grid;
            grid-auto-flow: column; /*como o navegador vai dividir as DIVs que são filhas dela*/ 
            grid-auto-columns: 1fr; /* "1f" = 1 frame* (medida)*/
        }
        #header {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 42px;
            text-decoration-line: underline;
            color:black;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        #menu ul {
            list-style-type: none; /* retirar as bolinhas iniciais da lista*/
            margin:0%;
            padding: 0%;
        }
        #menu li {
            display: inline-block;
            margin-left: 20px; /*margem a esquerda*/
            font-family: 'Poppins', sans-serif;
            font-style: normal; /*estilo da fonte*/
            font-weight: normal; /*espessura da fonte*/
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
        #menu {
            text-align: center;
            margin-top: 49px; 
        }
        
        a { /* "a" (link)*/
            color: black;
            text-decoration: none; /*retirar o anderline do link*/
        }
        #buttonCta {
            background: cornflowerblue;
            border-radius: 50px;
            font-family: 'Poppins';
            font-style: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color:white;
            padding: 10px 25px 10px 25px;
        }
        p.gray {
            font-family: 'Poppins';
            font-style: normal;
            font-size: 16px;
            line-height: 32px;
            color:darkgray;
        }
        #headerCta h1 {
            font-family: 'Poppins';
            font-style: bold;
            font-size: 45px;     
            color:black;
        }
        #headerImg {
            margin-left: 42px;
            width: 100%;
        }
        #Iasmin {
            width: 45%;
            border-radius: 70px;
            margin-left: 100px;

        }
        .headerLogo {
            text-align: center;
        }
        #clients {
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }
        
        #Cs, #CHJ {
            width: 300px;
        }
        #python {
            width: 250px;
        }
        h2.red {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #F75C4E;
        }
        h1.black {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 54px;
            margin-top: 0;
            color: #000000;
        }
        #services {
            text-align: center;
            margin-top: 10%;
        }
        .textCenter {
            text-align: center;
        }
        .icons {
            width: 50px;
        }
        .textCenter h3 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #070F18;
        }
        #infoImg, #contactImg {
            width: 100%;
            margin-top: 30px;
        }
        #port1, #port2 {
            width: 400px;
            border-radius: 10%;
        }
        #port2 {
            margin-top: 10%;
        }
        #sobremim {
            text-align: center;
            margin-top: 5%;
        }
        #contactEmail_Telefone {
            margin-top: 20%;
            text-align: center;
        }
         
    