		corpo {
            margem esquerda: 15%;
            margem direita: 15%;
            fundo: #ADD8E6;
        }
        .recipiente {
            exibir: grade;
            fluxo automático da grade: coluna;
            colunas automáticas de grade: 1fr;

        }
        #cabeçalho {
            fonte-família: Poppins;
            estilo de fonte: normal;
            peso da fonte: 600;
            tamanho da fonte: 28px;
            altura da linha: 42px;
            linha de decoração de texto: sublinhar;
            cor: #070F18;
            margem superior: 40px;
            margem inferior: 40px;
        }
        #menu {
            alinhamento de texto: centro;
            margem superior: 49px;
        }
        #menu ul {
            tipo de estilo de lista: nenhum;
            margem:0;
            preenchimento:0;
        }
        #menu li {
            exibir: bloco em linha;
            margem esquerda: 20px;
            fonte-família: Poppins;
            estilo de fonte: normal;
            peso da fonte: normal;
            tamanho da fonte: 16px;
            altura da linha: 24px;
            /* idêntico à altura da caixa */

            alinhamento de texto: centro;

            cor: #070F18;
        }
        uma {
            cor:Preto;
            decoração de texto: nenhum;
        }
        uma img {
            largura: 40%;
        }
        
        
        p.cinza {
            fonte-família: Poppins;
            estilo de fonte: normal;
            peso da fonte: normal;
            tamanho da fonte: 16px;
            altura da linha: 32px;
            cor: #575455;
        }
        #headerCta h1 {
            fonte-família: Poppins;
            estilo de fonte: normal;
            peso da fonte: negrito;
            tamanho da fonte: 45px;
            cor: #000000;
        }
        #headerImg {
            alinhamento de texto: centro;
        }
        #headerImg img {
            largura: 45%;
            estilo de borda: início;
            raio de fronteira: 10%;
        }
        .headerLogo {
            alinhamento de texto:centro;
        }
        .headerLogo img {
            largura: 75%;
        }
        #clientes {
            margem superior: 50px;
            margem inferior: 50px;
        }
        #headerClientText {
            fonte-família: Poppins;
            estilo de fonte: normal;
            tamanho da fonte: 16px;
            altura da linha: 24px;
            alinhamento de texto: centro;
            cor: #070F18;
        }
        h2.vermelho {
            fonte-família: Poppins;
            estilo de fonte: normal;
            peso da fonte: negrito;
            tamanho da fonte: 16px;
            altura da linha: 24px;
            cor: #F75C4E;
        }
        h1.preto {
            fonte-família: Poppins;
            estilo de fonte: normal;
            peso da fonte: negrito;
            tamanho da fonte: 36px;
            line-height: 54px;
            margin-top:0;
            color: #000000;
        }
        .textCenter {
            text-align:center;
        }
        .textCenter img {
            width: 70px;
        }
        #services .textCenter h3 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            cor: #070F18;
        }
        #contactImg img {
            largura: 100%;
            raio de fronteira: 10%;
            margem superior: 5%;
        }
        #contactForm {
            margem esquerda: 75px;
            alinhamento de texto:esquerda;
        }
        #contato {
            margem superior: 100px;
        }
        #contactForm entrada {
            fundo: #F5F6FB;
            raio de fronteira: 50px;
            fonte-família: Poppins;
            estilo de fonte: normal;
            peso da fonte: normal;
            tamanho da fonte: 16px;
            altura da linha: 24px;
            cor: #575455;
            fronteira:0;
            largura: 70%;
            preenchimento: 15px 30px 15px 30px;
        }
        #contactForm botão {
            fundo: #1F7CFF;
            raio de fronteira: 50px;
            preenchimento: 15px 30px 15px 30px;
            fonte-família: Poppins;
            estilo de fonte: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            border:0;
            color: #FFFFFF;
        }
        #portfolioTitle {
            margin-top: 150px;
        }
        .portfolioImg img {
            width: 100%;
            border-radius: 10%;
        }
        .portfolioImg {
            padding: 20px;
        }
